.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding-block: 96px;
  text-align: center;
}

.code {
  font-size: 96px;
  font-weight: 600;
  line-height: 1;
  color: var(--color-button);
}

.title {
  font-size: 32px;
  font-weight: 600;
}

.text {
  margin-bottom: 12px;
  color: var(--color-text);
}
