.reviews {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.review {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  background-color: var(--color-inputs);
  border-radius: var(--radius-m);
}

.person {
  display: flex;
  align-items: center;
  gap: 16px;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: var(--color-button);
  background-color: var(--color-white);
  border-radius: 50%;
}

.name {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-weight: 500;
}

.comment {
  color: var(--color-text);
}
